In [44]:
import pandas as pd

In [45]:
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.22)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)

In [46]:
import geopandas as gpd

In [47]:
areas = pd.read_csv('CommAreas.csv')

In [48]:
comm = areas.AREA_NUMBE

In [49]:
hospital = pd.read_csv('Hospitals.csv')

In [50]:
hospital.head()

,Site Name,Clinic Type,Site Number,Hours of Operation,Street Address,City,State,ZIP,Phone 1,Phone 2,...,Phone 5,Fax,Public Health Nursing,Family Case Management,Healthy Start Program,Healthy Families Program,WIC,Latitude,Longitude,Location
0,Austin STI Specialty Clinic,STI Specialty Clinic,NaN,Mon and Wed: 8:00 a.m. - 4:00 p.m.; Tues: 9:00...,"4909 W. Division St., Suite 411",Chicago,IL,60651,312-746-4871,NaN,...,NaN,312-746-4637,NaN,NaN,NaN,NaN,NaN,41.902212,-87.748845,"(41.902212, -87.748845)"
1,Englewood MHC,Mental Health Clinic,NaN,Mon - Fri: 8:30 a.m. – 4:30 p.m.,641 W. 63rd St,Chicago,IL,60621,312-747-7496,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.779692,-87.641428,"(41.779692, -87.641428)"
2,Englewood STI Specialty Clinic,STI Specialty Clinic,NaN,"Mon, Wed & Fri: 8:00 a.m. - 4:00 p.m.; Tues & ...","641 W. 63rd St., Lower Level",Chicago,IL,60621,312-747-8900,NaN,...,NaN,312-747-0292,NaN,NaN,NaN,NaN,NaN,41.779692,-87.641428,"(41.779692, -87.641428)"
3,Greater Grand/MID-South MHC,Mental Health Clinic,NaN,Mon - Fri: 8:30 a.m. – 4:30 p.m.,4314 S. Cottage Grove,Chicago,IL,60653,312-747-0036,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.816326,-87.606847,"(41.816326, -87.606847)"
4,Alivio Medical Center,WIC Clinic,106.0,"Mon, Tues, Thurs & Fri: 8:00 a.m. - 4:30 p.m.;...",2355 S. Western Ave.,Chicago,IL,60608,773-843-4220,773-650-1205,...,NaN,773-650-1232,NaN,NaN,NaN,NaN,Y,41.848583,-87.685394,"(41.848583, -87.685394)"

In [51]:
!pip install pyshp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyshp in /usr/local/lib/python3.7/dist-packages (2.3.1)

In [52]:
from shapely.geometry import shape, Point
import shapefile

In [53]:
r = shapefile.Reader("geo_export_857e7ab3-ee77-40cd-b5e0-5222e9567269.shp")

# get the shapes
shapes = r.shapes()

# build a shapely polygon from your shape
polygon = []
for x in range(0,len(r)):
  polygon.append(shape(shapes[x])) 

list = []
for y in hospital.index:
  for x in range(0,len(r)):
    if polygon[x].contains(Point(hospital.Longitude[y],hospital.Latitude[y])):
      list.append(comm[x])

len(list)

24

In [54]:
hospital['Comm_Area'] = list

In [55]:
hospital.head()

,Site Name,Clinic Type,Site Number,Hours of Operation,Street Address,City,State,ZIP,Phone 1,Phone 2,...,Fax,Public Health Nursing,Family Case Management,Healthy Start Program,Healthy Families Program,WIC,Latitude,Longitude,Location,Comm_Area
0,Austin STI Specialty Clinic,STI Specialty Clinic,NaN,Mon and Wed: 8:00 a.m. - 4:00 p.m.; Tues: 9:00...,"4909 W. Division St., Suite 411",Chicago,IL,60651,312-746-4871,NaN,...,312-746-4637,NaN,NaN,NaN,NaN,NaN,41.902212,-87.748845,"(41.902212, -87.748845)",25
1,Englewood MHC,Mental Health Clinic,NaN,Mon - Fri: 8:30 a.m. – 4:30 p.m.,641 W. 63rd St,Chicago,IL,60621,312-747-7496,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41.779692,-87.641428,"(41.779692, -87.641428)",68
2,Englewood STI Specialty Clinic,STI Specialty Clinic,NaN,"Mon, Wed & Fri: 8:00 a.m. - 4:00 p.m.; Tues & ...","641 W. 63rd St., Lower Level",Chicago,IL,60621,312-747-8900,NaN,...,312-747-0292,NaN,NaN,NaN,NaN,NaN,41.779692,-87.641428,"(41.779692, -87.641428)",68
3,Greater Grand/MID-South MHC,Mental Health Clinic,NaN,Mon - Fri: 8:30 a.m. – 4:30 p.m.,4314 S. Cottage Grove,Chicago,IL,60653,312-747-0036,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41.816326,-87.606847,"(41.816326, -87.606847)",38
4,Alivio Medical Center,WIC Clinic,106.0,"Mon, Tues, Thurs & Fri: 8:00 a.m. - 4:30 p.m.;...",2355 S. Western Ave.,Chicago,IL,60608,773-843-4220,773-650-1205,...,773-650-1232,NaN,NaN,NaN,NaN,Y,41.848583,-87.685394,"(41.848583, -87.685394)",31

In [57]:
hospital.to_csv('Hospitals_Processed.csv')

In [58]:
schools = pd.read_csv('Schools.csv')

In [59]:
schools.head()

,the_geom,School_ID,Short_Name,Address,Grade_Cat,Lat,Long
0,POINT (-87.6266211792559 41.81924917367548),610590,BRONZEVILLE CLASSICAL,8 W ROOT ST,ES,41.819249,-87.626621
1,POINT (-87.64556149971644 41.907796795867235),400113,CICS - CHICAGOQUEST HS,1443 N OGDEN AVE,HS,41.907797,-87.645561
2,POINT (-87.55990690211836 41.74267138259229),400168,GREAT LAKES,8401 S SAGINAW AVE,ES,41.742671,-87.559907
3,POINT (-87.63756486350432 41.91389953306062),610033,LASALLE,1734 N ORLEANS ST,ES,41.913900,-87.637565
4,POINT (-87.73599882158203 41.92791840313385),609716,KELVYN PARK HS,4343 W WRIGHTWOOD AVE,HS,41.927918,-87.735999

In [60]:
school_area = []
for y in schools.index:
  for x in range(0,len(r)):
    if polygon[x].contains(Point(schools.Long[y],schools.Lat[y])):
      school_area.append(comm[x])
school_area

[38,
 8,
 46,
 7,
 20,
 44,
 13,
 29,
 67,
 28,
 30,
 25,
 58,
 4,
 56,
 48,
 31,
 70,
 31,
 53,
 57,
 25,
 71,
 43,
 24,
 75,
 27,
 24,
 22,
 19,
 31,
 46,
 73,
 63,
 63,
 9,
 43,
 29,
 16,
 7,
 66,
 28,
 23,
 68,
 27,
 14,
 58,
 10,
 29,
 10,
 73,
 64,
 45,
 23,
 23,
 27,
 8,
 55,
 41,
 68,
 47,
 44,
 29,
 2,
 42,
 63,
 70,
 48,
 28,
 18,
 34,
 27,
 30,
 70,
 23,
 48,
 23,
 16,
 25,
 71,
 52,
 58,
 52,
 68,
 28,
 10,
 42,
 3,
 24,
 30,
 10,
 25,
 1,
 40,
 71,
 15,
 54,
 61,
 25,
 44,
 24,
 44,
 28,
 46,
 13,
 6,
 67,
 29,
 69,
 43,
 16,
 4,
 43,
 76,
 46,
 19,
 55,
 8,
 24,
 65,
 3,
 69,
 31,
 25,
 24,
 35,
 66,
 73,
 32,
 16,
 45,
 1,
 39,
 63,
 24,
 30,
 49,
 6,
 66,
 24,
 68,
 27,
 49,
 4,
 63,
 34,
 29,
 17,
 59,
 22,
 29,
 41,
 45,
 67,
 28,
 66,
 45,
 30,
 13,
 49,
 27,
 65,
 71,
 71,
 51,
 56,
 29,
 69,
 27,
 37,
 3,
 61,
 28,
 69,
 44,
 29,
 13,
 46,
 19,
 49,
 24,
 67,
 14,
 41,
 43,
 69,
 27,
 29,
 58,
 28,
 28,
 45,
 61,
 54,
 17,
 23,
 29,
 5,
 73,
 68,
 21,
 29,
 25,
 60,
 38,
 3,
 12,
 17,
 44,
 69,
 6,
 19,
 17,
 38,
 54,
 30,
 7,
 65,
 73,
 73,
 71,
 30,
 57,
 68,
 28,
 3,
 5,
 8,
 10,
 14,
 68,
 50,
 68,
 70,
 77,
 44,
 42,
 14,
 2,
 28,
 25,
 27,
 50,
 28,
 17,
 25,
 24,
 15,
 26,
 19,
 35,
 61,
 4,
 68,
 12,
 2,
 50,
 19,
 30,
 66,
 25,
 19,
 31,
 5,
 67,
 71,
 70,
 25,
 63,
 46,
 71,
 21,
 22,
 8,
 56,
 22,
 26,
 58,
 43,
 6,
 48,
 28,
 30,
 67,
 7,
 70,
 70,
 31,
 43,
 39,
 23,
 29,
 14,
 35,
 39,
 67,
 11,
 35,
 14,
 60,
 30,
 13,
 50,
 16,
 19,
 25,
 38,
 21,
 15,
 24,
 68,
 74,
 29,
 36,
 73,
 3,
 73,
 61,
 24,
 35,
 1,
 49,
 68,
 17,
 24,
 63,
 40,
 66,
 66,
 40,
 23,
 27,
 68,
 58,
 64,
 19,
 2,
 49,
 31,
 19,
 16,
 24,
 2,
 5,
 69,
 24,
 65,
 10,
 20,
 16,
 54,
 8,
 25,
 25,
 43,
 23,
 8,
 54,
 24,
 6,
 19,
 24,
 61,
 1,
 31,
 67,
 33,
 24,
 77,
 75,
 43,
 61,
 12,
 28,
 59,
 15,
 60,
 26,
 7,
 71,
 25,
 28,
 44,
 58,
 19,
 30,
 66,
 6,
 40,
 28,
 39,
 2,
 68,
 46,
 2,
 31,
 9,
 13,
 49,
 16,
 56,
 63,
 61,
 49,
 60,
 21,
 19,
 15,
 23,
 63,
 24,
 39,
 69,
 31,
 22,
 70,
 14,
 67,
 48,
 35,
 62,
 75,
 21,
 74,
 29,
 39,
 52,
 35,
 23,
 39,
 29,
 53,
 23,
 58,
 75,
 69,
 72,
 19,
 28,
 33,
 68,
 23,
 30,
 25,
 61,
 11,
 75,
 57,
 40,
 53,
 25,
 31,
 23,
 10,
 1,
 42,
 77,
 20,
 25,
 42,
 25,
 64,
 64,
 21,
 71,
 6,
 33,
 22,
 61,
 31,
 73,
 30,
 21,
 30,
 25,
 4,
 61,
 61,
 73,
 30,
 65,
 70,
 24,
 33,
 2,
 61,
 34,
 53,
 67,
 31,
 28,
 46,
 15,
 70,
 4,
 21,
 27,
 72,
 67,
 75,
 9,
 74,
 66,
 50,
 31,
 41,
 24,
 38,
 32,
 49,
 70,
 25,
 49,
 63,
 58,
 50,
 61,
 61,
 22,
 20,
 35,
 15,
 59,
 69,
 24,
 2,
 44,
 72,
 58,
 58,
 30,
 10,
 24,
 56,
 71,
 27,
 22,
 26,
 38,
 38,
 32,
 46,
 19,
 22,
 5,
 28,
 53,
 51,
 28,
 53,
 29,
 49,
 44,
 3,
 25,
 6,
 27,
 19,
 53,
 58,
 7,
 6,
 62,
 44,
 77,
 35,
 35,
 49,
 20,
 30,
 22,
 16,
 5,
 24,
 23,
 57,
 25,
 67,
 27,
 30,
 43,
 77,
 53,
 16,
 46,
 25,
 52,
 62,
 42,
 60,
 52,
 66,
 1,
 35,
 27,
 31,
 75,
 74,
 43,
 36,
 23,
 30,
 23,
 22,
 68,
 16,
 26,
 30,
 14,
 28,
 8,
 62,
 69,
 15,
 57,
 71,
 30,
 2,
 63,
 58,
 52,
 59,
 44,
 42,
 7,
 43,
 50,
 63,
 22,
 63,
 14,
 26,
 29,
 61,
 46,
 72,
 29,
 71,
 1,
 51,
 59,
 58,
 53,
 30,
 30,
 56,
 21,
 73,
 6,
 63]

In [61]:
schools['Comm_Area'] = school_area

In [62]:
schools.head()

,the_geom,School_ID,Short_Name,Address,Grade_Cat,Lat,Long,Comm_Area
0,POINT (-87.6266211792559 41.81924917367548),610590,BRONZEVILLE CLASSICAL,8 W ROOT ST,ES,41.819249,-87.626621,38
1,POINT (-87.64556149971644 41.907796795867235),400113,CICS - CHICAGOQUEST HS,1443 N OGDEN AVE,HS,41.907797,-87.645561,8
2,POINT (-87.55990690211836 41.74267138259229),400168,GREAT LAKES,8401 S SAGINAW AVE,ES,41.742671,-87.559907,46
3,POINT (-87.63756486350432 41.91389953306062),610033,LASALLE,1734 N ORLEANS ST,ES,41.913900,-87.637565,7
4,POINT (-87.73599882158203 41.92791840313385),609716,KELVYN PARK HS,4343 W WRIGHTWOOD AVE,HS,41.927918,-87.735999,20

In [63]:
train = pd.read_csv('Train_Stations.csv')
train.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30082,E,Cicero (Loop-bound),Cicero,Cicero (Pink Line),40420,True,False,False,False,False,False,False,False,True,False,"(41.85182, -87.745336)"
1,30151,E,Central Park (Loop-bound),Central Park,Central Park (Pink Line),40780,True,False,False,False,False,False,False,False,True,False,"(41.853839, -87.714842)"
2,30184,W,Halsted/63rd (Ashland-bound),Halsted,Halsted (Green Line),40940,True,False,False,True,False,False,False,False,False,False,"(41.778943, -87.644244)"
3,30044,N,Cumberland (O'Hare-bound),Cumberland,Cumberland (Blue Line),40230,True,False,True,False,False,False,False,False,False,False,"(41.984246, -87.838028)"
4,30092,E,Racine (O'Hare-bound),Racine,Racine (Blue Line),40470,False,False,True,False,False,False,False,False,False,False,"(41.87592, -87.659458)"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STOP_ID                   300 non-null    int64
 1   DIRECTION_ID              300 non-null    object
 2   STOP_NAME                 300 non-null    object
 3   STATION_NAME              300 non-null    object
 4   STATION_DESCRIPTIVE_NAME  300 non-null    object
 5   MAP_ID                    300 non-null    int64
 6   ADA                       300 non-null    bool
 7   RED                       300 non-null    bool
 8   BLUE                      300 non-null    bool
 9   G                         300 non-null    bool
 10  BRN                       300 non-null    bool
 11  P                         300 non-null    bool
 12  Pexp                      300 non-null    bool
 13  Y                         300 non-null    bool
 14  Pnk                       300 non-null    bool
 15  O                         300 non-null    bool
 16  Location                  300 non-null    object
dtypes: bool(10), int64(2), object(5)
memory usage: 19.5+ KB

In [75]:
train.Location = train.Location.apply(lambda x:x.replace('(',''))
train.Location = train.Location.apply(lambda x:x.replace(')',''))

In [76]:
train.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30082,E,Cicero (Loop-bound),Cicero,Cicero (Pink Line),40420,True,False,False,False,False,False,False,False,True,False,"41.85182, -87.745336"
1,30151,E,Central Park (Loop-bound),Central Park,Central Park (Pink Line),40780,True,False,False,False,False,False,False,False,True,False,"41.853839, -87.714842"
2,30184,W,Halsted/63rd (Ashland-bound),Halsted,Halsted (Green Line),40940,True,False,False,True,False,False,False,False,False,False,"41.778943, -87.644244"
3,30044,N,Cumberland (O'Hare-bound),Cumberland,Cumberland (Blue Line),40230,True,False,True,False,False,False,False,False,False,False,"41.984246, -87.838028"
4,30092,E,Racine (O'Hare-bound),Racine,Racine (Blue Line),40470,False,False,True,False,False,False,False,False,False,False,"41.87592, -87.659458"

In [77]:
train['Points'] = train['Location'].str.split(',')

In [78]:
train.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location,Points
0,30082,E,Cicero (Loop-bound),Cicero,Cicero (Pink Line),40420,True,False,False,False,False,False,False,False,True,False,"41.85182, -87.745336","[41.85182, -87.745336]"
1,30151,E,Central Park (Loop-bound),Central Park,Central Park (Pink Line),40780,True,False,False,False,False,False,False,False,True,False,"41.853839, -87.714842","[41.853839, -87.714842]"
2,30184,W,Halsted/63rd (Ashland-bound),Halsted,Halsted (Green Line),40940,True,False,False,True,False,False,False,False,False,False,"41.778943, -87.644244","[41.778943, -87.644244]"
3,30044,N,Cumberland (O'Hare-bound),Cumberland,Cumberland (Blue Line),40230,True,False,True,False,False,False,False,False,False,False,"41.984246, -87.838028","[41.984246, -87.838028]"
4,30092,E,Racine (O'Hare-bound),Racine,Racine (Blue Line),40470,False,False,True,False,False,False,False,False,False,False,"41.87592, -87.659458","[41.87592, -87.659458]"

In [79]:
schools.to_csv('Schools_Preprocessed.csv')

In [82]:
train_area = []
for y in train.index:
  for x in range(0,len(r)):
    if polygon[x].contains(Point(float(train.Points[y][0]),float(train.Points[y][1]))):
      train_area.append(comm[x])
train_area

[]

In [83]:
bus = pd.read_csv('Bus Stops.csv')
bus.head()

,Stop_ID,CTA Stop Name,Direction,Routes,Ward,LONGITUDE,LATITUDE,Location,Phase
0,68,Jackson & Franklin,EB,"1,7,28,126,130,151,156",42,-87.635401,41.878051,"(41.878051, -87.635401)",2
1,69,Jackson & Financial Place,EB,"1,7,28,126,130,132,151",42,-87.632868,41.878081,"(41.878081, -87.632868)",1
2,73,Michigan & Van Buren/Congress,SB,"1,3,4,7,J14,26,28,126,132,143,147",42,-87.624396,41.876271,"(41.876271, -87.624396)",1
3,75,Michigan & Van Buren,NB,"1,7,28,126",42,-87.624160,41.876690,"(41.87669, -87.62416)",2
4,76,Michigan & Jackson,NB,"3,4,6,J14,26,143",42,-87.624193,41.878135,"(41.878135, -87.624193)",1

In [97]:
bus_area = []
for y in bus.index:
  for x in range(0,len(r)):
    if polygon[x].contains(Point(bus.LONGITUDE[y],bus.LATITUDE[y])):
      bus_area.append(comm[x])
      print(y+1)

bus_area

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
309
310
311
312
313
314
315
316
317
318
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398

[32,
 32,
 32,
 32,
 32,
 32,
 32,
 28,
 28,
 29,
 25,
 26,
 28,
 32,
 28,
 28,
 25,
 23,
 24,
 24,
 24,
 8,
 8,
 8,
 8,
 8,
 8,
 24,
 24,
 23,
 18,
 24,
 8,
 8,
 24,
 1,
 1,
 77,
 77,
 77,
 77,
 77,
 77,
 77,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 8,
 8,
 8,
 8,
 8,
 8,
 6,
 77,
 1,
 22,
 7,
 8,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 41,
 41,
 39,
 39,
 33,
 33,
 32,
 33,
 40,
 4,
 2,
 1,
 1,
 1,
 1,
 7,
 32,
 32,
 32,
 32,
 32,
 8,
 8,
 24,
 44,
 69,
 69,
 69,
 42,
 33,
 40,
 32,
 32,
 47,
 44,
 44,
 44,
 39,
 38,
 38,
 42,
 44,
 43,
 69,
 69,
 69,
 69,
 69,
 70,
 70,
 70,
 49,
 49,
 49,
 23,
 27,
 27,
 42,
 67,
 67,
 66,
 66,
 69,
 49,
 14,
 3,
 3,
 14,
 25,
 7,
 30,
 27,
 23,
 29,
 57,
 56,
 64,
 60,
 74,
 74,
 70,
 32,
 65,
 32,
 13,
 3,
 6,
 32,
 32,
 28,
 28,
 39,
 39,
 42,
 43,
 43,
 48,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 48,
 48,
 43,
 43,
 43,
 42,
 42,
 43,
 77,
 28,
 16,
 16,
 5,
 6,
 16,
 6,
 22,
 24,
 24,
 28,
 28,
 71,
 71,
 67,
 59,
 24,
 30,
 30,
 30,
 31,
 7,
 28,
 28,
 43,
 46,
 69,
 35,
 34,
 21,
 8,
 8,
 21,
 58,
 58,
 4,
 5,
 5,
 22,
 24,
 24,
 63,
 66,
 61,
 31,
 28,
 24,
 24,
 22,
 10,
 28,
 16,
 23,
 26,
 17,
 44,
 46,
 46,
 70,
 25,
 11,
 69,
 25,
 25,
 25,
 15,
 62,
 63,
 67,
 67,
 68,
 40,
 41,
 41,
 40,
 37,
 69,
 43,
 19,
 22,
 6,
 6,
 6,
 21,
 13,
 13,
 21,
 27,
 21,
 21,
 17,
 15,
 16,
 4,
 25,
 25,
 12,
 2,
 21,
 5,
 6,
 49,
 49,
 32,
 31,
 58,
 61,
 60,
 69,
 76,
 10,
 7,
 28,
 28,
 31,
 32,
 68,
 73,
 57,
 32,
 23,
 4,
 28,
 15,
 28,
 31,
 16,
 33,
 69,
 69,
 39,
 66,
 4,
 23,
 33,
 27,
 19,
 24,
 8,
 71,
 28,
 66,
 23,
 27,
 25,
 66,
 6,
 52,
 49,
 49,
 35,
 29,
 25,
 25,
 5,
 30,
 19,
 29,
 29,
 25,
 25,
 17,
 44,
 73,
 26,
 49,
 66,
 32,
 13,
 42,
 33,
 48,
 40,
 59,
 69,
 44,
 32,
 32,
 17,
 44,
 75,
 44,
 24,
 43,
 42,
 51,
 42,
 6,
 8,
 28]

In [98]:
bus.drop([264,307,318], axis=0, inplace=True)

In [99]:
bus['COMM_AREA'] = bus_area

In [100]:
bus.to_csv('Bus_Preprocessed.csv')