In [93]:
import pandas as pd

In [94]:
train = pd.read_csv('Train_Stations.csv')

In [95]:
train.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location
0,30082,E,Cicero (Loop-bound),Cicero,Cicero (Pink Line),40420,True,False,False,False,False,False,False,False,True,False,"(41.85182, -87.745336)"
1,30151,E,Central Park (Loop-bound),Central Park,Central Park (Pink Line),40780,True,False,False,False,False,False,False,False,True,False,"(41.853839, -87.714842)"
2,30184,W,Halsted/63rd (Ashland-bound),Halsted,Halsted (Green Line),40940,True,False,False,True,False,False,False,False,False,False,"(41.778943, -87.644244)"
3,30044,N,Cumberland (O'Hare-bound),Cumberland,Cumberland (Blue Line),40230,True,False,True,False,False,False,False,False,False,False,"(41.984246, -87.838028)"
4,30092,E,Racine (O'Hare-bound),Racine,Racine (Blue Line),40470,False,False,True,False,False,False,False,False,False,False,"(41.87592, -87.659458)"

In [96]:
train.Location = train.Location.apply(lambda x:x.replace('(',''))
train.Location = train.Location.apply(lambda x:x.replace(')',''))
temp = train.Location.str.split(',',expand = True)

In [97]:
train['Lat'] = temp[0]
train['Long'] = temp[1]

In [98]:
train.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location,Lat,Long
0,30082,E,Cicero (Loop-bound),Cicero,Cicero (Pink Line),40420,True,False,False,False,False,False,False,False,True,False,"41.85182, -87.745336",41.85182,-87.745336
1,30151,E,Central Park (Loop-bound),Central Park,Central Park (Pink Line),40780,True,False,False,False,False,False,False,False,True,False,"41.853839, -87.714842",41.853839,-87.714842
2,30184,W,Halsted/63rd (Ashland-bound),Halsted,Halsted (Green Line),40940,True,False,False,True,False,False,False,False,False,False,"41.778943, -87.644244",41.778943,-87.644244
3,30044,N,Cumberland (O'Hare-bound),Cumberland,Cumberland (Blue Line),40230,True,False,True,False,False,False,False,False,False,False,"41.984246, -87.838028",41.984246,-87.838028
4,30092,E,Racine (O'Hare-bound),Racine,Racine (Blue Line),40470,False,False,True,False,False,False,False,False,False,False,"41.87592, -87.659458",41.87592,-87.659458

In [99]:
train['Lat'] = train.Lat.apply(pd.to_numeric)
train['Long'] = train.Long.apply(pd.to_numeric)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STOP_ID                   300 non-null    int64
 1   DIRECTION_ID              300 non-null    object
 2   STOP_NAME                 300 non-null    object
 3   STATION_NAME              300 non-null    object
 4   STATION_DESCRIPTIVE_NAME  300 non-null    object
 5   MAP_ID                    300 non-null    int64
 6   ADA                       300 non-null    bool
 7   RED                       300 non-null    bool
 8   BLUE                      300 non-null    bool
 9   G                         300 non-null    bool
 10  BRN                       300 non-null    bool
 11  P                         300 non-null    bool
 12  Pexp                      300 non-null    bool
 13  Y                         300 non-null    bool
 14  Pnk                       300 non-null    bool
 15  O                         300 non-null    bool
 16  Location                  300 non-null    object
 17  Lat                       300 non-null    float64
 18  Long                      300 non-null    float64
dtypes: bool(10), float64(2), int64(2), object(5)
memory usage: 24.1+ KB

In [100]:
!pip install pyshp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyshp in /usr/local/lib/python3.7/dist-packages (2.3.1)

In [101]:
from shapely.geometry import shape, Point
import shapefile

In [102]:
areas = pd.read_csv('CommAreas.csv')
comm = areas.AREA_NUMBE

In [103]:
r = shapefile.Reader("geo_export_857e7ab3-ee77-40cd-b5e0-5222e9567269.shp")

# get the shapes
shapes = r.shapes()

# build a shapely polygon from your shape
polygon = []
for x in range(0,len(r)):
  polygon.append(shape(shapes[x])) 

list = []
for y in train.index:
  flag = 0
  for x in range(0,len(r)):
    if polygon[x].contains(Point(float(train.Long[y]),float(train.Lat[y]))):
      list.append(x + 1)
      flag = 1
  if flag == 0:
    list.append(0)

len(list)

300

In [104]:
train['Comm_Area'] = list

In [105]:
train.head()

,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,G,BRN,P,Pexp,Y,Pnk,O,Location,Lat,Long,Comm_Area
0,30082,E,Cicero (Loop-bound),Cicero,Cicero (Pink Line),40420,True,False,False,False,False,False,False,False,True,False,"41.85182, -87.745336",41.851820,-87.745336,0
1,30151,E,Central Park (Loop-bound),Central Park,Central Park (Pink Line),40780,True,False,False,False,False,False,False,False,True,False,"41.853839, -87.714842",41.853839,-87.714842,30
2,30184,W,Halsted/63rd (Ashland-bound),Halsted,Halsted (Green Line),40940,True,False,False,True,False,False,False,False,False,False,"41.778943, -87.644244",41.778943,-87.644244,66
3,30044,N,Cumberland (O'Hare-bound),Cumberland,Cumberland (Blue Line),40230,True,False,True,False,False,False,False,False,False,False,"41.984246, -87.838028",41.984246,-87.838028,75
4,30092,E,Racine (O'Hare-bound),Racine,Racine (Blue Line),40470,False,False,True,False,False,False,False,False,False,False,"41.87592, -87.659458",41.875920,-87.659458,29

In [106]:
train.to_csv('Train_Preprocessed.csv')

In [107]:
hospital = pd.read_csv('Hospitals_Processed.csv')

In [108]:
hospital.head()

,Unnamed: 0,Site Name,Clinic Type,Site Number,Hours of Operation,Street Address,City,State,ZIP,Phone 1,...,Fax,Public Health Nursing,Family Case Management,Healthy Start Program,Healthy Families Program,WIC,Latitude,Longitude,Location,Comm_Area
0,0,Austin STI Specialty Clinic,STI Specialty Clinic,NaN,Mon and Wed: 8:00 a.m. - 4:00 p.m.; Tues: 9:00...,"4909 W. Division St., Suite 411",Chicago,IL,60651,312-746-4871,...,312-746-4637,NaN,NaN,NaN,NaN,NaN,41.902212,-87.748845,"(41.902212, -87.748845)",25
1,1,Englewood MHC,Mental Health Clinic,NaN,Mon - Fri: 8:30 a.m. – 4:30 p.m.,641 W. 63rd St,Chicago,IL,60621,312-747-7496,...,NaN,NaN,NaN,NaN,NaN,NaN,41.779692,-87.641428,"(41.779692, -87.641428)",68
2,2,Englewood STI Specialty Clinic,STI Specialty Clinic,NaN,"Mon, Wed & Fri: 8:00 a.m. - 4:00 p.m.; Tues & ...","641 W. 63rd St., Lower Level",Chicago,IL,60621,312-747-8900,...,312-747-0292,NaN,NaN,NaN,NaN,NaN,41.779692,-87.641428,"(41.779692, -87.641428)",68
3,3,Greater Grand/MID-South MHC,Mental Health Clinic,NaN,Mon - Fri: 8:30 a.m. – 4:30 p.m.,4314 S. Cottage Grove,Chicago,IL,60653,312-747-0036,...,NaN,NaN,NaN,NaN,NaN,NaN,41.816326,-87.606847,"(41.816326, -87.606847)",38
4,4,Alivio Medical Center,WIC Clinic,106.0,"Mon, Tues, Thurs & Fri: 8:00 a.m. - 4:30 p.m.;...",2355 S. Western Ave.,Chicago,IL,60608,773-843-4220,...,773-650-1232,NaN,NaN,NaN,NaN,Y,41.848583,-87.685394,"(41.848583, -87.685394)",31

In [109]:
hospital_comm = hospital.groupby('Comm_Area')['Unnamed: 0'].count().reset_index()

In [110]:
hospital_comm

    Comm_Area  Unnamed: 0
0           2           1
1           3           1
2           6           1
3          13           1
4          24           2
5          25           2
6          28           1
7          30           1
8          31           3
9          32           1
10         35           1
11         38           1
12         41           1
13         46           1
14         49           1
15         62           2
16         68           3

In [ ]:
comm_area = pd.read_csv('Comm_area_aggregations.csv')

In [141]:
hospital_comm = hospital_comm.rename(columns={'Comm_Area':'COMMAREA','BusCount':'HosCount'})
comm_area = comm_area.merge(hospital_comm, on="COMMAREA", how='left')
comm_area.head(74)

,Unnamed: 0,Unnamed: 0.1,COMMAREA,White,Asian,Black,Hispanic,Pacific Islander,Native,Other,Population,HosCount_x,SchoolCount,TrainCount,BusCount,HosCount_y
0,0,0,1,155002,6369,22824,0,265,4592,19392,192610,0.0,7,2.0,7,NaN
1,1,1,2,93661,22021,16107,0,205,3003,16068,139958,1.0,10,NaN,2,1.0
2,2,2,3,44316,7174,12409,0,90,1350,6646,66050,1.0,7,4.0,3,1.0
3,3,3,4,57326,5674,2577,0,121,1493,6409,67635,0.0,6,8.0,5,NaN
4,4,4,5,63432,3717,4475,0,136,1310,4659,71808,0.0,6,NaN,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,72,72,73,553,86,24644,0,12,199,410,25218,0.0,11,NaN,2,NaN
64,73,73,74,16972,208,894,0,21,261,1414,18512,0.0,4,NaN,2,NaN
65,74,74,75,10270,355,15609,0,33,403,2126,26956,0.0,7,4.0,1,NaN
66,75,75,76,18471,3125,2390,0,42,364,3785,26313,0.0,1,8.0,1,NaN
67,76,76,77,77087,8692,10926,0,148,1774,9147,100185,0.0,5,NaN,9,NaN

In [131]:
school = pd.read_csv('Schools_Preprocessed.csv')
school.head()

,Unnamed: 0,the_geom,School_ID,Short_Name,Address,Grade_Cat,Lat,Long,Comm_Area
0,0,POINT (-87.6266211792559 41.81924917367548),610590,BRONZEVILLE CLASSICAL,8 W ROOT ST,ES,41.819249,-87.626621,38
1,1,POINT (-87.64556149971644 41.907796795867235),400113,CICS - CHICAGOQUEST HS,1443 N OGDEN AVE,HS,41.907797,-87.645561,8
2,2,POINT (-87.55990690211836 41.74267138259229),400168,GREAT LAKES,8401 S SAGINAW AVE,ES,41.742671,-87.559907,46
3,3,POINT (-87.63756486350432 41.91389953306062),610033,LASALLE,1734 N ORLEANS ST,ES,41.913900,-87.637565,7
4,4,POINT (-87.73599882158203 41.92791840313385),609716,KELVYN PARK HS,4343 W WRIGHTWOOD AVE,HS,41.927918,-87.735999,20

In [132]:
school_comm = school.groupby('Comm_Area')['Unnamed: 0'].count().reset_index()
school_comm

    Comm_Area  Unnamed: 0
0           1           7
1           2          10
2           3           7
3           4           6
4           5           6
..        ...         ...
72         73          11
73         74           4
74         75           7
75         76           1
76         77           5

[77 rows x 2 columns]

In [142]:
school_comm = school_comm.rename(columns={'Comm_Area':'COMMAREA','Unnamed: 0':'SchoolCount'})
comm_area = comm_area.merge(school_comm, on="COMMAREA", how='left')
comm_area.head(74)

,Unnamed: 0,Unnamed: 0.1,COMMAREA,White,Asian,Black,Hispanic,Pacific Islander,Native,Other,Population,HosCount_x,SchoolCount_x,TrainCount,BusCount,HosCount_y,SchoolCount_y
0,0,0,1,155002,6369,22824,0,265,4592,19392,192610,0.0,7,2.0,7,NaN,7
1,1,1,2,93661,22021,16107,0,205,3003,16068,139958,1.0,10,NaN,2,1.0,10
2,2,2,3,44316,7174,12409,0,90,1350,6646,66050,1.0,7,4.0,3,1.0,7
3,3,3,4,57326,5674,2577,0,121,1493,6409,67635,0.0,6,8.0,5,NaN,6
4,4,4,5,63432,3717,4475,0,136,1310,4659,71808,0.0,6,NaN,5,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,72,72,73,553,86,24644,0,12,199,410,25218,0.0,11,NaN,2,NaN,11
64,73,73,74,16972,208,894,0,21,261,1414,18512,0.0,4,NaN,2,NaN,4
65,74,74,75,10270,355,15609,0,33,403,2126,26956,0.0,7,4.0,1,NaN,7
66,75,75,76,18471,3125,2390,0,42,364,3785,26313,0.0,1,8.0,1,NaN,1
67,76,76,77,77087,8692,10926,0,148,1774,9147,100185,0.0,5,NaN,9,NaN,5

In [51]:
comm_area.head(50)

,Unnamed: 0,Unnamed: 0.1,COMMAREA,White,Asian,Black,Hispanic,Pacific Islander,Native,Other,Population,Hospitals,Schools,Trains,Buses
0,0,0,1,155002,6369,22824,0,265,4592,19392,192610,0,7,10,10
1,1,1,2,93661,22021,16107,0,205,3003,16068,139958,1,10,0,0
2,2,2,3,44316,7174,12409,0,90,1350,6646,66050,1,7,8,8
3,3,3,4,57326,5674,2577,0,121,1493,6409,67635,0,6,8,8
4,4,4,5,63432,3717,4475,0,136,1310,4659,71808,0,6,4,4
5,5,5,6,102803,10009,5694,0,185,1486,7831,118598,1,10,18,18
6,6,6,7,74565,6706,3810,0,85,843,4385,84802,0,7,6,6
7,7,7,8,86791,14270,9942,0,153,905,5947,110687,0,8,14,14
8,8,8,9,10708,441,178,0,6,151,972,11531,0,3,0,0
9,9,9,10,38026,3100,804,0,57,756,5072,43604,0,8,2,2
10,10,10,11,19498,3258,805,0,39,580,5044,25981,0,2,2,2
11,11,11,12,15909,3046,439,0,18,226,2090,19705,0,3,0,0
12,12,12,13,9871,5078,1024,0,18,347,2862,17454,1,6,0,0
13,13,13,14,23731,7881,3024,0,107,1952,18948,48201,0,9,6,6
14,14,14,15,41753,4569,2698,0,129,2294,21810,63019,0,8,0,0
15,15,15,16,32681,5320,3203,0,116,1803,17551,52269,0,11,6,6
16,16,16,17,32010,2685,1451,0,67,1174,11653,42918,0,6,0,0
17,17,17,18,7310,562,1176,0,20,854,7224,14285,0,1,0,0
18,18,18,19,31848,2112,4281,0,202,4333,52217,78336,0,16,0,0
19,19,19,20,8968,442,1483,0,69,1501,16098,23834,0,5,0,0
20,20,20,21,21451,2185,1934,0,61,1366,15285,36301,0,9,2,2
21,21,21,22,50956,4590,4888,0,176,2077,20609,72602,0,12,6,6
22,22,22,23,21067,1199,18663,0,127,2000,26031,60356,0,17,0,0
23,23,23,24,69526,7102,7712,0,166,1790,14884,90400,2,24,8,8
24,24,24,25,10359,688,74453,0,78,1470,15083,96359,2,24,10,10
25,25,25,26,835,54,16152,0,17,205,860,17450,0,6,4,4
26,26,26,27,1932,177,17429,0,27,270,1265,20094,0,15,8,8
27,27,27,28,40304,14394,17800,0,112,875,6109,74099,1,21,18,18
28,28,28,29,11727,857,29074,0,44,641,4541,44051,0,19,8,8
29,29,29,30,26787,825,7237,0,66,4642,52259,77409,1,23,2,2
30,30,30,31,19579,1656,2524,0,46,2515,20802,38815,3,15,8,8
31,31,31,32,18052,6101,3559,0,46,316,1930,27756,1,3,34,34
32,32,32,33,2158,1281,1798,0,9,71,263,5124,0,4,6,6
33,33,33,34,1940,10094,1645,0,10,67,396,13800,0,3,4,4
34,34,34,35,6723,2941,14669,0,67,311,1025,24471,1,11,2,2
35,35,35,36,352,113,6370,0,5,68,178,6805,0,2,0,0
36,36,36,37,212,31,2057,0,10,32,366,2530,0,1,4,4
37,37,37,38,1085,174,17723,0,28,281,499,18788,1,7,8,8
38,38,38,39,4165,1526,13877,0,28,249,788,19307,0,7,0,0
39,39,39,40,354,49,12168,0,10,153,199,12557,0,5,2,2
40,40,40,41,14937,5471,9566,0,66,420,1989,29531,1,4,0,0
41,41,41,42,7063,1236,23206,0,40,484,1055,31288,0,7,4,4
42,42,42,43,1963,296,49471,0,49,716,1025,51539,0,12,0,0
43,43,43,44,4699,770,31529,0,47,373,733,36821,0,12,4,4
44,44,44,45,211,70,9229,0,9,81,148,9418,0,5,0,0
45,45,45,46,2322,97,19151,0,18,429,3407,23832,1,11,0,0
46,46,46,47,47,12,2468,0,2,30,47,2527,0,1,0,0
47,47,47,48,443,74,12315,0,9,142,463,13002,0,5,0,0
48,48,48,49,910,125,34532,0,23,400,739,35603,1,12,2,2
49,49,49,50,796,45,5997,0,13,75,369,6934,0,7,0,0

In [52]:
trains = pd.read_csv('Train_Preprocessed.csv')
trains.head()

,Unnamed: 0,STOP_ID,DIRECTION_ID,STOP_NAME,STATION_NAME,STATION_DESCRIPTIVE_NAME,MAP_ID,ADA,RED,BLUE,...,BRN,P,Pexp,Y,Pnk,O,Location,Lat,Long,Comm_Area
0,0,30082,E,Cicero (Loop-bound),Cicero,Cicero (Pink Line),40420,True,False,False,...,False,False,False,False,True,False,"41.85182, -87.745336",41.851820,-87.745336,0
1,1,30151,E,Central Park (Loop-bound),Central Park,Central Park (Pink Line),40780,True,False,False,...,False,False,False,False,True,False,"41.853839, -87.714842",41.853839,-87.714842,30
2,2,30184,W,Halsted/63rd (Ashland-bound),Halsted,Halsted (Green Line),40940,True,False,False,...,False,False,False,False,False,False,"41.778943, -87.644244",41.778943,-87.644244,66
3,3,30044,N,Cumberland (O'Hare-bound),Cumberland,Cumberland (Blue Line),40230,True,False,True,...,False,False,False,False,False,False,"41.984246, -87.838028",41.984246,-87.838028,75
4,4,30092,E,Racine (O'Hare-bound),Racine,Racine (Blue Line),40470,False,False,True,...,False,False,False,False,False,False,"41.87592, -87.659458",41.875920,-87.659458,29

In [53]:
train_comm = trains.groupby('Comm_Area')['Unnamed: 0'].count().reset_index()
train_comm

    Comm_Area  Unnamed: 0
0           0          40
1           1           2
2           3           4
3           4           8
4           6           8
5           7           2
6           9           4
7          10          10
8          11           2
9          14           6
10         16           6
11         22           2
12         23           6
13         25           8
14         26          10
15         27           4
16         28           8
17         29          18
18         30           8
19         31           8
20         32           2
21         33           8
22         34           6
23         35           4
24         36           2
25         37          14
26         38          34
27         40           4
28         44           2
29         45          18
30         47           2
31         48           4
32         55           2
33         57           2
34         58           2
35         60           2
36         61           2
37         65           2
38         66           4
39         67           2
40         68           6
41         75           4
42         76           8

In [134]:
train_comm = train_comm.rename(columns={'Comm_Area':'COMMAREA','Unnamed: 0':'TrainCount'})
comm_area = comm_area.merge(train_comm, on="COMMAREA", how='left')
comm_area.head(20)

,Unnamed: 0,Unnamed: 0.1,COMMAREA,White,Asian,Black,Hispanic,Pacific Islander,Native,Other,Population,HosCount,SchoolCount,TrainCount
0,0,0,1,155002,6369,22824,0,265,4592,19392,192610,0.0,7,2.0
1,1,1,2,93661,22021,16107,0,205,3003,16068,139958,1.0,10,NaN
2,2,2,3,44316,7174,12409,0,90,1350,6646,66050,1.0,7,4.0
3,3,3,4,57326,5674,2577,0,121,1493,6409,67635,0.0,6,8.0
4,4,4,5,63432,3717,4475,0,136,1310,4659,71808,0.0,6,NaN
5,5,5,6,102803,10009,5694,0,185,1486,7831,118598,1.0,10,8.0
6,6,6,7,74565,6706,3810,0,85,843,4385,84802,0.0,7,2.0
7,7,7,8,86791,14270,9942,0,153,905,5947,110687,0.0,8,NaN
8,9,9,10,38026,3100,804,0,57,756,5072,43604,0.0,8,10.0
9,10,10,11,19498,3258,805,0,39,580,5044,25981,0.0,2,2.0
10,11,11,12,15909,3046,439,0,18,226,2090,19705,0.0,3,NaN
11,12,12,13,9871,5078,1024,0,18,347,2862,17454,1.0,6,NaN
12,13,13,14,23731,7881,3024,0,107,1952,18948,48201,0.0,9,6.0
13,14,14,15,41753,4569,2698,0,129,2294,21810,63019,0.0,8,NaN
14,15,15,16,32681,5320,3203,0,116,1803,17551,52269,0.0,11,6.0
15,16,16,17,32010,2685,1451,0,67,1174,11653,42918,0.0,6,NaN
16,17,17,18,7310,562,1176,0,20,854,7224,14285,0.0,1,NaN
17,18,18,19,31848,2112,4281,0,202,4333,52217,78336,0.0,16,NaN
18,20,20,21,21451,2185,1934,0,61,1366,15285,36301,0.0,9,NaN
19,21,21,22,50956,4590,4888,0,176,2077,20609,72602,0.0,12,2.0

In [56]:
comm_area.head(20)

,Unnamed: 0,Unnamed: 0.1,COMMAREA,White,Asian,Black,Hispanic,Pacific Islander,Native,Other,Population,Hospitals,Schools,Trains,Buses
0,0,0,1,155002,6369,22824,0,265,4592,19392,192610,0,7,2,10
1,1,1,2,93661,22021,16107,0,205,3003,16068,139958,1,10,0,0
2,2,2,3,44316,7174,12409,0,90,1350,6646,66050,1,7,4,8
3,3,3,4,57326,5674,2577,0,121,1493,6409,67635,0,6,8,8
4,4,4,5,63432,3717,4475,0,136,1310,4659,71808,0,6,0,4
5,5,5,6,102803,10009,5694,0,185,1486,7831,118598,1,10,8,18
6,6,6,7,74565,6706,3810,0,85,843,4385,84802,0,7,2,6
7,7,7,8,86791,14270,9942,0,153,905,5947,110687,0,8,0,14
8,8,8,9,10708,441,178,0,6,151,972,11531,0,3,4,0
9,9,9,10,38026,3100,804,0,57,756,5072,43604,0,8,10,2
10,10,10,11,19498,3258,805,0,39,580,5044,25981,0,2,2,2
11,11,11,12,15909,3046,439,0,18,226,2090,19705,0,3,0,0
12,12,12,13,9871,5078,1024,0,18,347,2862,17454,1,6,0,0
13,13,13,14,23731,7881,3024,0,107,1952,18948,48201,0,9,6,6
14,14,14,15,41753,4569,2698,0,129,2294,21810,63019,0,8,0,0
15,15,15,16,32681,5320,3203,0,116,1803,17551,52269,0,11,6,6
16,16,16,17,32010,2685,1451,0,67,1174,11653,42918,0,6,0,0
17,17,17,18,7310,562,1176,0,20,854,7224,14285,0,1,0,0
18,18,18,19,31848,2112,4281,0,202,4333,52217,78336,0,16,0,0
19,19,19,20,8968,442,1483,0,69,1501,16098,23834,0,5,0,0

In [57]:
bus = pd.read_csv('Bus_Preprocessed.csv')
bus.head()

,Unnamed: 0,Stop_ID,CTA Stop Name,Direction,Routes,Ward,LONGITUDE,LATITUDE,Location,Phase,COMM_AREA
0,0,68,Jackson & Franklin,EB,"1,7,28,126,130,151,156",42,-87.635401,41.878051,"(41.878051, -87.635401)",2,32
1,1,69,Jackson & Financial Place,EB,"1,7,28,126,130,132,151",42,-87.632868,41.878081,"(41.878081, -87.632868)",1,32
2,2,73,Michigan & Van Buren/Congress,SB,"1,3,4,7,J14,26,28,126,132,143,147",42,-87.624396,41.876271,"(41.876271, -87.624396)",1,32
3,3,75,Michigan & Van Buren,NB,"1,7,28,126",42,-87.624160,41.876690,"(41.87669, -87.62416)",2,32
4,4,76,Michigan & Jackson,NB,"3,4,6,J14,26,143",42,-87.624193,41.878135,"(41.878135, -87.624193)",1,32

In [64]:
bus_comm = bus.groupby('COMM_AREA')['Unnamed: 0'].count().reset_index()
bus_comm.head(20)

    COMM_AREA  Unnamed: 0
0           1           7
1           2           2
2           3           3
3           4           5
4           5           5
5           6          20
6           7           9
7           8          26
8          10           2
9          11           1
10         12           1
11         13           4
12         14           2
13         15           3
14         16           6
15         17           4
16         18           1
17         19           3
18         21           7
19         22           5

In [135]:
bus_comm = bus_comm.rename(columns={'COMM_AREA':'COMMAREA','Unnamed: 0':'BusCount'})
comm_area = comm_area.merge(bus_comm, on="COMMAREA", how='left')
comm_area.head(20)

,Unnamed: 0,Unnamed: 0.1,COMMAREA,White,Asian,Black,Hispanic,Pacific Islander,Native,Other,Population,HosCount,SchoolCount,TrainCount,BusCount
0,0,0,1,155002,6369,22824,0,265,4592,19392,192610,0.0,7,2.0,7
1,1,1,2,93661,22021,16107,0,205,3003,16068,139958,1.0,10,NaN,2
2,2,2,3,44316,7174,12409,0,90,1350,6646,66050,1.0,7,4.0,3
3,3,3,4,57326,5674,2577,0,121,1493,6409,67635,0.0,6,8.0,5
4,4,4,5,63432,3717,4475,0,136,1310,4659,71808,0.0,6,NaN,5
5,5,5,6,102803,10009,5694,0,185,1486,7831,118598,1.0,10,8.0,20
6,6,6,7,74565,6706,3810,0,85,843,4385,84802,0.0,7,2.0,9
7,7,7,8,86791,14270,9942,0,153,905,5947,110687,0.0,8,NaN,26
8,9,9,10,38026,3100,804,0,57,756,5072,43604,0.0,8,10.0,2
9,10,10,11,19498,3258,805,0,39,580,5044,25981,0.0,2,2.0,1
10,11,11,12,15909,3046,439,0,18,226,2090,19705,0.0,3,NaN,1
11,12,12,13,9871,5078,1024,0,18,347,2862,17454,1.0,6,NaN,4
12,13,13,14,23731,7881,3024,0,107,1952,18948,48201,0.0,9,6.0,2
13,14,14,15,41753,4569,2698,0,129,2294,21810,63019,0.0,8,NaN,3
14,15,15,16,32681,5320,3203,0,116,1803,17551,52269,0.0,11,6.0,6
15,16,16,17,32010,2685,1451,0,67,1174,11653,42918,0.0,6,NaN,4
16,17,17,18,7310,562,1176,0,20,854,7224,14285,0.0,1,NaN,1
17,18,18,19,31848,2112,4281,0,202,4333,52217,78336,0.0,16,NaN,3
18,20,20,21,21451,2185,1934,0,61,1366,15285,36301,0.0,9,NaN,7
19,21,21,22,50956,4590,4888,0,176,2077,20609,72602,0.0,12,2.0,5

In [61]:
comm_area.head(20)

,Unnamed: 0,Unnamed: 0.1,COMMAREA,White,Asian,Black,Hispanic,Pacific Islander,Native,Other,Population,Hospitals,Schools,Trains,Buses
0,0,0,1,155002,6369,22824,0,265,4592,19392,192610,0,7,2,2
1,1,1,2,93661,22021,16107,0,205,3003,16068,139958,1,10,0,0
2,2,2,3,44316,7174,12409,0,90,1350,6646,66050,1,7,4,4
3,3,3,4,57326,5674,2577,0,121,1493,6409,67635,0,6,8,8
4,4,4,5,63432,3717,4475,0,136,1310,4659,71808,0,6,0,0
5,5,5,6,102803,10009,5694,0,185,1486,7831,118598,1,10,8,8
6,6,6,7,74565,6706,3810,0,85,843,4385,84802,0,7,2,2
7,7,7,8,86791,14270,9942,0,153,905,5947,110687,0,8,0,0
8,8,8,9,10708,441,178,0,6,151,972,11531,0,3,4,4
9,9,9,10,38026,3100,804,0,57,756,5072,43604,0,8,10,10
10,10,10,11,19498,3258,805,0,39,580,5044,25981,0,2,2,2
11,11,11,12,15909,3046,439,0,18,226,2090,19705,0,3,0,0
12,12,12,13,9871,5078,1024,0,18,347,2862,17454,1,6,0,0
13,13,13,14,23731,7881,3024,0,107,1952,18948,48201,0,9,6,6
14,14,14,15,41753,4569,2698,0,129,2294,21810,63019,0,8,0,0
15,15,15,16,32681,5320,3203,0,116,1803,17551,52269,0,11,6,6
16,16,16,17,32010,2685,1451,0,67,1174,11653,42918,0,6,0,0
17,17,17,18,7310,562,1176,0,20,854,7224,14285,0,1,0,0
18,18,18,19,31848,2112,4281,0,202,4333,52217,78336,0,16,0,0
19,19,19,20,8968,442,1483,0,69,1501,16098,23834,0,5,0,0

In [136]:
comm_area.fillna(0)

,Unnamed: 0,Unnamed: 0.1,COMMAREA,White,Asian,Black,Hispanic,Pacific Islander,Native,Other,Population,HosCount,SchoolCount,TrainCount,BusCount
0,0,0,1,155002,6369,22824,0,265,4592,19392,192610,0.0,7,2.0,7
1,1,1,2,93661,22021,16107,0,205,3003,16068,139958,1.0,10,0.0,2
2,2,2,3,44316,7174,12409,0,90,1350,6646,66050,1.0,7,4.0,3
3,3,3,4,57326,5674,2577,0,121,1493,6409,67635,0.0,6,8.0,5
4,4,4,5,63432,3717,4475,0,136,1310,4659,71808,0.0,6,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,72,72,73,553,86,24644,0,12,199,410,25218,0.0,11,0.0,2
64,73,73,74,16972,208,894,0,21,261,1414,18512,0.0,4,0.0,2
65,74,74,75,10270,355,15609,0,33,403,2126,26956,0.0,7,4.0,1
66,75,75,76,18471,3125,2390,0,42,364,3785,26313,0.0,1,8.0,1
67,76,76,77,77087,8692,10926,0,148,1774,9147,100185,0.0,5,0.0,9

In [137]:
comm_area.to_csv('Comm_area_aggregations.csv')